
.post_item {
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #fff;
    margin-bottom: 30px;
}

.account_icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

.post_header_panel {
    display: flex;
    justify-content: space-between;
}

.post_buttons_block {
  position: relative;
}

.btn {
    cursor: pointer;
    margin-right: 20px;
    transition: all .1s linear;

    &.acite_dropdown,
    &:hover {
        color: #3e63a1;
    }

    &:last-child {
        margin-right: 0;
    }
}

.btn_more_dropdown {
  position: absolute;
  right: 65%;

  width: 100px;
  background-color: #3e63a1;

  .dropdown_item {
    padding: 5px;
    cursor: pointer;
    color: #fff;


    &:hover {
      opacity: 0.8;
      background-color: #224773;
    }
  }
}

.post_textarea {
  width: 100%;
}

.submit_edited_post {
  padding: 8px;
  background-color: #1a76d2;
  color: #fff;
  outline: none;
  border: none;
}

.submit_block {
  text-align: right;
}